.breadcrumbs
    p.breadcrumbs__Text-1 
        |Home 
        span.breadcrumbs__slash / 
        |Accesories 
    p.breadcrumbs__Text-2  
        span.breadcrumbs__slash /
        | Beat Solo2 on Ear Headphones - Black