mixin counter
    .counter
      button#decrement 
        svg
            use(xlink:href="../../../dist/sprite4.svg#icon-minus")
      .counter__display(id="counter-value") 1
      button#increment  
        svg
            use(xlink:href="../../../dist/sprite4.svg#icon-plus")
      