.price-range
    h3.price-range__title PRICES
    .range-output
        span.range-output__text Ranger: 
        span $ 
        span(id="output-left") 20.00
        span  - $
        span(id="output-right") 80.00
    .range-container
        .range-track
        .range-track-active
        input(type="range" id="range-left" min="0" max="500" value="20.99" step="0.01")
        input( type="range" id="range-right" min="0" max="500" value="300.99" step="0.01")
    