.search__container    
    form.search(action="search")
        input(type="text" class="search__field" placeholder="search Query")
        button(type="submit" class="search__btn")
            span Search