doctype html 
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= "BOUNCER"
        link(href="../../../dist/css/styles.min.css" rel="stylesheet")
        block script
            script( src="../../../src/js/logic/scripts.js" defer)
            script(src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js")
    body
        block header    
        main     
            block carousel
            block banners
            block best
            block banner 
            block offers 
            block latest 
            block feature
            block search
            block pop up
            block breadcrumbs    
            block product-grid 
            block product
            block cart
        block footer