extend ../base/base.pug
append script
    script( src="../../../src/js/logic/popUp.js" defer) 
    script( src="../../../src/js/logic/caroselSlider.js" defer) 
    script(src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js")

block header
    .header-container   
        include ../component/headers.pug
        include ../component/nav_bar.pug
block carousel 
    include ../layout/carousel.pug
block banners 
    include ../component/banners.pug
block best
    include ../layout/best_seller.pug
block banner 
    include ../layout/big-banner.pug
block offers 
    include ../layout/what-we-offer-layout.pug
block latest 
    include ../layout/latest-new.pug
block feature 
    include ../layout/feature.pug
block search
    include ../component/search.pug
block pop up
    include ../layout/popup.pug
block footer 
    include ../layout/footer.pug
    

    






         


         
