.card{
    border: 3px solid $color-gray--light;
    padding: 3rem 1rem;
    width: 27rem;
    height: 34.9rem;
    position: relative;
    &__hot::after{
        content: "HOT";
        position: absolute;
        background-color: $color-secondary;
        color: $color-white;
        top: 2%;
        left: 2%;
        font-size: 1.4rem;
        padding: 1px 1rem;
        border-radius: 2px;
        letter-spacing: 1px;

    }
    &__img{
        display: block;
        padding-bottom: 3rem;
        border-bottom:  $border-bottom;
        width: 100%;
        height: 100%;
        position: relative;
        &-container{
            height: 64%;
            margin-bottom: 1.5rem;
        }


    }
    &__hover{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        width: 99%;
        height: 60%;
        align-items: center;
        background-color: rgba($color-white, $alpha: .95);
        opacity: 0;
        &--heart,&--cart{
            width: 5rem;
            height: 5rem;
            padding: 1.2rem;
            border-radius: 50%;
            border: 3px solid rgba($color-primary, $alpha: .50);
        }
        &--heart{
            margin-right: 1rem;
        }
    }
    &:hover &__hover{
        opacity: 1;
        cursor: pointer;
    }
    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }    
}