.feature{
    display: flex;
    justify-content: start;
    &__img{
        display:inline-block;
        width: 100%;
      &--box{
        flex: 0 0 50%;
        width: 25rem;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 11%;
            left: 11%;
            width: 78%;
            height: 70%;
            box-shadow: 0 0 0 2px rgba($color-gray-border, $alpha: 1);
            z-index: -1; /* Place the border behind the image */
          }
    }
    &_up{
        transform: scale(1.2);
        height: 100%;
    }
}
}
.card__start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -5%;
}

