.search{
    &__container{
        max-width: 60rem;
        position: relative;
        margin: 0 auto;
        margin-bottom: 15rem;
        @include respond (phone){
            width: 90%;
            }
        }
        &__field{
        padding: 2rem;
        border: 2px solid $color-gray-border;
        border-radius: 5px;
        font-size: 1.7rem;
        width: 60rem;
        color: $color-gray;
        @include respond (phone){
           width: 90%;
        }
        @include respond(tab-port) { 
            padding: .6rem;
          }
        &:focus {
            outline: none;
          }
        &::placeholder {
            color: $color-gray;
            font-size: 1.4rem;
            font-family: proxima sb;
        }
    }
    &__btn{
        background:none;
        border: none;
        font-size: 1.4rem;
        background-color: $color-primary;
        color: $color-white;
        padding: 2.4rem 4rem;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 150;
        @include respond(tab-port) { 
            padding: 1rem;
          }

    }
}