// COLOR VARIABLES
$color-primary: #2E90E5;
$color-primary--light: #33A0FF;
$color-twitter:#03A9F4;
$color-fb:#385C8E;
$color-white: #fff;
$color-black: #22262A;
$color-black-light: #262626;
$color-gray: #C1C8CE;
$color-gray-border: #F6F7F8;
$color-gray--light: #F6F7F8;
$color-star: #FFC600;
$color-secondary: #FF6875;
$color-red: #FC3E39;
$color-black-dark: #171717;
$color-yellow: #FFF600;
$color-pink: #FF00B4;
$color-bage: #EFDFDF;
$color-logo: #D9D9D9;
$color-gradient:linear-gradient(to left right, #8F65FF, #FF4858);
//borders
$border-bottom:2px solid $color-gray-border;
// FONT VARIABLES
$font-primary: 'Proxima Nova', sans-serif;
//responsive
$bp-largest:75em;
$bp-large: 62.5em;
$bp-medium: 50em;
$bp-small: 37.5em;