.section-latestNew{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 12rem;
    max-width: 120rem;
    &__list{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit,36.31rem);
        max-width: 120rem;
        gap: 4rem;
        @include respond(vsmall-lab) { 
            grid-template-columns: repeat(auto-fit,39rem);
            padding: 0 2rem;
    
        }
    }
}
