include ../component/banner.pug
+banner("iPhone 8 ","Performance and design. Taken right to the edge.","../../../dist/imgs/iphone6s_d.svg","section-banner-accesories--heading","section-banner-accesories--paragraph","section-banner-accesories")