include ../component/card.pug
include ../component/best-seller-nav.pug
.best-seller 
    h2.best-seller__heading BEST SELLER
    +nav
    .best-seller__grid
        +card("card__hot","Apple Macbook Pro","$499 ","$599","card__info","ssmb","","../../../dist/imgs/card-img.svg")
        +card("","Apple Macbook Pro","$499 ","$599","card__info","ssmb","","../../../dist/imgs/card-img.svg")
        +card("","Apple Macbook Pro","$499 ","$599","card__info","ssmb","","../../../dist/imgs/card-img.svg")
        +card("","Apple Macbook Pro","$499 ","$599","card__info","ssmb","","../../../dist/imgs/card-img.svg")
        +card("","Apple Macbook Pro","$499 ","$599","card__info","ssmb","","../../../dist/imgs/card-img.svg")
        +card("","Apple Macbook Pro","$499 ","$599","card__info","ssmb","","../../../dist/imgs/card-img.svg")
        +card("","Apple Macbook Pro","$499 ","$599","card__info","ssmb","","../../../dist/imgs/card-img.svg")
        +card("","Apple Macbook Pro","$499 ","$599","card__info","ssmb","","../../../dist/imgs/card-img.svg")

    


    .best-seller__link    
        a(href="#" class="best-seller__btn") Load More