include ../component/banner.pug
+banner("iPhone 6 Plus","Performance and design. Taken right to the edge.","../../../dist/imgs/iphone6s_d.svg","section-banner__text--heading","section-banner__text--paragraph ","section-banner")