section.carousel
    svg.arrow-left
        use(xlink:href="../../../dist/sprite2.svg#icon-chevron-thin-left")   
    svg.arrow-right
        use(xlink:href="../../../dist/sprite2.svg#icon-chevron-thin-right")         
    .carousel__flex 
        .carousel__text
            h2.heading--secondry iPhone X
            p.carousel__text--paragraph Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
            a(href="#" class="btn-link") MORE

        .carousel__photo 
            img(src="../../../dist/imgs/iphonex.svg" class="carousel__photo--img")
    .carousel__flex 
        .carousel__text
            h2.heading--secondry iPhone 6s
            p.carousel__text--paragraph Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
            a(href="#" class="btn-link") MORE

        .carousel__photo 
            img(src="../../../dist/imgs/iphone6s_d.svg" class="carousel__photo--img")


                
                    
