include ../component/feature.pug
.section-feature
    h2.section-latestNew__heading FEATURE PRODUCTS
    .section-feature__features
        +feature("Beats Solo 2 On Ear Headphones - Black","$ 499","$599","../../../dist/imgs/headphone.svg","card__start","feature__img_up")
        +feature("H-Squared tvTray","$ 499","$599","../../../dist/imgs/ir.svg","card__start")
        +feature("Netatmo Rain Gauge","$ 499","$599","../../../dist/imgs/rain.svg","card__start","feature__img_up")
