include ../component/new.pug
.section-latestNew
    h2.section-latestNew__heading LATEST NEWS
    .section-latestNew__list
        +new("../../../dist/imgs/rectangle-1.jpg","01 jan, 2015","Typesetting industry","Lorem Ipsum is simply dummy text of the printing and typesetting industry.")
        +new("../../../dist/imgs/lab.jpg","01 jan, 2015","Typesetting industry","Lorem Ipsum is simply dummy text of the printing and typesetting industry.")
        +new("../../../dist/imgs/mobil.jpg","01 jan, 2015","Typesetting industry","Lorem Ipsum is simply dummy text of the printing and typesetting industry.")