include ../component/what-we-offer.pug
.section-offer
    +offer("Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor minim veniam, quis nostrud  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur","FREE SHIPPING","../../../dist/imgs/shipping.svg")
    +offer("Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor minim veniam, quis nostrud  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur","100% REFUND","../../../dist/imgs/refund.svg")
    +offer("Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor minim veniam, quis nostrud  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur","SUPPORT 24/7","../../../dist/imgs/support.svg")
